## Alumno:

# Actividad práctica de MongoDB con Python

**Objetivo:**  
Repasar los conceptos básicos de MongoDB estudiados en clase, explorando la relación entre **bases de datos**, **colecciones** y **documentos**, y practicar las operaciones principales de la librería `pymongo`. 

Durante esta actividad, **la única documentación oficial que debes consultar es la de `pymongo`**:  
[Documentación oficial pymongo](https://pymongo.readthedocs.io/en/stable/)

> Nota: Todas las operaciones se realizarán dentro de tu contenedor Jupyter conectado al servicio MongoDB.

## Bloque 1: Exploración de comandos

En este bloque realizarás demostraciones prácticas de conexión y manipulación de MongoDB utilizando `pymongo`. Se repasarán los conceptos de **base de datos, colección y documento** y se mostrará la flexibilidad de MongoDB a la hora de tratar con documentos y campos.

In [3]:
from pymongo import MongoClient
client = MongoClient("mongodb://admin:admin123@mongodb:27017/")
print("Conexión al servidor MongoDB establecida correctamente")

Conexión al servidor MongoDB establecida correctamente

In [4]:
# Listar bases de datos existentes
print(client.list_database_names())

['admin', 'config', 'local']

In [5]:
# Crear y seleccionar base de datos
db = client["actividad_db"]
print("Base de datos 'actividad_db' seleccionada")

Base de datos 'actividad_db' seleccionada

In [6]:
# Crear y seleccionar colección
collection = db["alumnos"]
print("Colección 'alumnos' seleccionada")

Colección 'alumnos' seleccionada

In [7]:
# Insertar varios documentos de ejemplo
docs = [
    {"nombre": "Ana", "edad": 21, "curso": "Big Data"},
    {"nombre": "Luis", "edad": 22, "curso": "Python"},
    {"nombre": "Marta", "edad": 20, "curso": "Big Data"},
    {"nombre": "Pedro", "edad": 23, "curso": "Python"}
]
result = collection.insert_many(docs)
print(f"Documentos insertados con _id: {result.inserted_ids}")

Documentos insertados con _id: [ObjectId('691cb197a4d0accb37755783'), ObjectId('691cb197a4d0accb37755784'), ObjectId('691cb197a4d0accb37755785'), ObjectId('691cb197a4d0accb37755786')]

In [8]:
# Consultar todos los documentos
for alumno in collection.find():
    print(alumno)

{'_id': ObjectId('691cb197a4d0accb37755783'), 'nombre': 'Ana', 'edad': 21, 'curso': 'Big Data'}
{'_id': ObjectId('691cb197a4d0accb37755784'), 'nombre': 'Luis', 'edad': 22, 'curso': 'Python'}
{'_id': ObjectId('691cb197a4d0accb37755785'), 'nombre': 'Marta', 'edad': 20, 'curso': 'Big Data'}
{'_id': ObjectId('691cb197a4d0accb37755786'), 'nombre': 'Pedro', 'edad': 23, 'curso': 'Python'}

In [9]:
# Buscar documentos con un campo específico
for alumno in collection.find({"curso": "Python"}):
    print(alumno)

{'_id': ObjectId('691cb197a4d0accb37755784'), 'nombre': 'Luis', 'edad': 22, 'curso': 'Python'}
{'_id': ObjectId('691cb197a4d0accb37755786'), 'nombre': 'Pedro', 'edad': 23, 'curso': 'Python'}

In [ ]:
# Actualizar documentos
collection.update_one({"nombre": "Ana"}, {"$set": {"edad": 22}})
print("Documento actualizado correctamente")

In [10]:
# Filtrar y mostrar documentos actualizados
for alumno in collection.find({"edad": {"$gte": 22}}):
    print(alumno)

{'_id': ObjectId('691cb197a4d0accb37755784'), 'nombre': 'Luis', 'edad': 22, 'curso': 'Python'}
{'_id': ObjectId('691cb197a4d0accb37755786'), 'nombre': 'Pedro', 'edad': 23, 'curso': 'Python'}

In [11]:
# Eliminar un documento
collection.delete_one({"nombre": "Pedro"})
print("Documento eliminado correctamente")

Documento eliminado correctamente

In [12]:
# Eliminar una colección completa
collection.drop()
print("Colección 'alumnos' eliminada")

Colección 'alumnos' eliminada

## Bloque 2: Actividades reales
Realiza los siguientes ejercicios utilizando la librería `pymongo`. Cada ejercicio tiene una celda de enunciado y una celda de código vacía para que escribas tu solución.

### Ejercicio 1:
Crear 3 documentos nuevos con información de alumnos (nombre, edad, curso).

In [13]:
collection = db["alumnos"]

nuevos_alumnos = [
    {"nombre": "Carlos", "edad": 24, "curso": "Big Data"},
    {"nombre": "Sofia", "edad": 19, "curso": "Python"},
    {"nombre": "Miguel", "edad": 22, "curso": "Machine Learning"}
]

resultado = collection.insert_many(nuevos_alumnos)
print(f"Se insertaron {len(resultado.inserted_ids)} alumnos correctamente")

Se insertaron 3 alumnos correctamente

### Ejercicio 2:
Consultar todos los alumnos y mostrar el resultado en pantalla.

In [15]:
print("Lista de todos los alumnos:")
for alumno in collection.find():
    print(alumno)

Lista de todos los alumnos:
{'_id': ObjectId('691cb1a5a4d0accb37755787'), 'nombre': 'Carlos', 'edad': 24, 'curso': 'Big Data'}
{'_id': ObjectId('691cb1a5a4d0accb37755788'), 'nombre': 'Sofia', 'edad': 19, 'curso': 'Python'}
{'_id': ObjectId('691cb1a5a4d0accb37755789'), 'nombre': 'Miguel', 'edad': 22, 'curso': 'Machine Learning'}

### Ejercicio 3:
Buscar todos los alumnos que tengan más de 20 años.

In [16]:
print("Alumnos mayores de 20:")
for alumno in collection.find({"edad": {"$gt": 20}}):
    print(alumno)

Alumnos mayores de 20:
{'_id': ObjectId('691cb1a5a4d0accb37755787'), 'nombre': 'Carlos', 'edad': 24, 'curso': 'Big Data'}
{'_id': ObjectId('691cb1a5a4d0accb37755789'), 'nombre': 'Miguel', 'edad': 22, 'curso': 'Machine Learning'}

### Ejercicio 4:
Actualizar el curso de un alumno concreto.

In [17]:
collection.update_one(
    {"nombre": "Carlos"},  # Filtro: busca por nombre
    {"$set": {"curso": "Data Science"}}  # Actualización: cambia el curso
)
print("Curso de Carlos actualizado correctamente")

Curso de Carlos actualizado correctamente

### Ejercicio 5:
Eliminar un alumno específico.

In [23]:
resultado = collection.delete_one({"nombre": "Carlos"})
print(f"Alumno eliminado: {resultado.deleted_count} documento(s)")

Alumno eliminado: 0 documento(s)

### Ejercicio 6:
Insertar un nuevo alumno utilizando un diccionario creado dinámicamente.

In [24]:
nuevo_alumno = {
    "nombre": "Oc",
    "edad": 21,
    "curso": "Big Data"
}

resultado = collection.insert_one(nuevo_alumno)
print(f"Alumno insertado con ID: {resultado.inserted_id}")

Alumno insertado con ID: 691cbeeea4d0accb3775578a

### Ejercicio 7:
Contar el número total de documentos en la colección.

In [25]:
total = collection.count_documents({})  # {} significa "todos"
print(f"Total de alumnos en la colección: {total}")

Total de alumnos en la colección: 2

### Ejercicio 8:
Buscar un alumno por nombre y mostrar todos sus datos.

In [26]:
alumno = collection.find_one({"nombre": "Miguel"})
if alumno:
    print("Datos del alumno encontrado:")
    print(alumno)
else:
    print("Alumno no encontrado")

Datos del alumno encontrado:
{'_id': ObjectId('691cb1a5a4d0accb37755789'), 'nombre': 'Miguel', 'edad': 22, 'curso': 'Machine Learning'}

### Ejercicio 9:
Modificar la edad de todos los alumnos mayores de 21 años sumando 1.

In [27]:
resultado = collection.update_many(
    {"edad": {"$gt": 21}},  # Filtro: mayores de 21
    {"$inc": {"edad": 1}}   # Incrementa edad en 1
)
print(f"Se actualizaron {resultado.modified_count} alumnos")

Se actualizaron 1 alumnos

### Ejercicio 10:
Insertar 2 documentos más y comprobar el incremento en el total.

In [28]:
total_antes = collection.count_documents({})
print(f"Total antes: {total_antes}")

nuevos = [
    {"nombre": "Elena", "edad": 20, "curso": "Python"},
    {"nombre": "David", "edad": 23, "curso": "Big Data"}
]
collection.insert_many(nuevos)

total_despues = collection.count_documents({})
print(f"Total después: {total_despues}")
print(f"Incremento: {total_despues - total_antes} alumnos")

Total antes: 2
Total después: 4
Incremento: 2 alumnos

### Ejercicio 11:
Eliminar todos los documentos de un curso concreto.

In [29]:
resultado = collection.delete_many({"curso": "Python"})
print(f"Se eliminaron {resultado.deleted_count} alumnos del curso Python")

Se eliminaron 1 alumnos del curso Python

### Ejercicio 12:
Buscar todos los alumnos que contengan la letra “a” en su nombre.

In [30]:
print("Alumnos con 'a' en su nombre:")
for alumno in collection.find({"nombre": {"$regex": "a", "$options": "i"}}):
    print(alumno)

Alumnos con 'a' en su nombre:
{'_id': ObjectId('691cbf83a4d0accb3775578c'), 'nombre': 'David', 'edad': 23, 'curso': 'Big Data'}

### Ejercicio 13:
Consultar solo los nombres de todos los alumnos (proyección).

In [31]:
print("Solo los nombres:")
for alumno in collection.find({}, {"nombre": 1, "_id": 0}):
    print(alumno)

Solo los nombres:
{'nombre': 'Miguel'}
{'nombre': 'Oc'}
{'nombre': 'David'}

### Ejercicio 14:
Actualizar un campo nuevo llamado “nota” para un alumno concreto.

In [32]:
collection.update_one(
    {"nombre": "Oc"},
    {"$set": {"nota": 1.5}}
)
print("Campo 'nota' añadido a Carlos")

Campo 'nota' añadido a Carlos

### Ejercicio 15:
Incrementar el campo “nota” de todos los alumnos en 1.

In [33]:
collection.update_many(
    {"nota": {"$exists": False}},  # Los que no tienen nota
    {"$set": {"nota": 5}}  # Les ponemos una nota inicial
)

# Ahora incrementamos la nota de todos en 1
resultado = collection.update_many(
    {},  # Todos los documentos
    {"$inc": {"nota": 1}}
)
print(f"Nota incrementada en {resultado.modified_count} alumnos")

Nota incrementada en 3 alumnos

### Ejercicio 16:
Crear una consulta combinada: alumnos de un curso específico y mayores de 20 años.

In [34]:
print("Alumnos de Big Data mayores de 20 años:")
for alumno in collection.find({"curso": "Big Data", "edad": {"$gt": 20}}):
    print(alumno)

Alumnos de Big Data mayores de 20 años:
{'_id': ObjectId('691cbeeea4d0accb3775578a'), 'nombre': 'Oc', 'edad': 21, 'curso': 'Big Data', 'nota': 2.5}
{'_id': ObjectId('691cbf83a4d0accb3775578c'), 'nombre': 'David', 'edad': 23, 'curso': 'Big Data', 'nota': 6}

### Ejercicio 17:
Ordenar los alumnos por edad ascendente.

In [35]:
print("Alumnos ordenados por edad (menor a mayor):")
for alumno in collection.find().sort("edad", 1):
    print(alumno)

Alumnos ordenados por edad (menor a mayor):
{'_id': ObjectId('691cbeeea4d0accb3775578a'), 'nombre': 'Oc', 'edad': 21, 'curso': 'Big Data', 'nota': 2.5}
{'_id': ObjectId('691cb1a5a4d0accb37755789'), 'nombre': 'Miguel', 'edad': 23, 'curso': 'Machine Learning', 'nota': 6}
{'_id': ObjectId('691cbf83a4d0accb3775578c'), 'nombre': 'David', 'edad': 23, 'curso': 'Big Data', 'nota': 6}

### Ejercicio 18:
Eliminar todos los documentos para dejar la colección vacía.

In [36]:
resultado = collection.delete_many({})
print(f"Se eliminaron {resultado.deleted_count} documentos. Colección vacía.")

Se eliminaron 3 documentos. Colección vacía.

### Ejercicio 19:
Comprobar que la colección está vacía usando `count_documents({})`.

In [37]:
total = collection.count_documents({})
if total == 0:
    print("✓ La colección está vacía")
else:
    print(f"⚠ Aún quedan {total} documentos")

✓ La colección está vacía

### Ejercicio 20:
Insertar un último alumno como cierre de la actividad.

In [38]:
ultimo_alumno = {
    "nombre": "Oc",  # Pon tu nombre
    "edad": 33,
    "curso": "Big Data & Python",
    "nota": 1,
    "comentario": "Actividad completada con éxito"
}

resultado = collection.insert_one(ultimo_alumno)
print(f"Actividad finalizada. Último alumno insertado con ID: {resultado.inserted_id}")

# Mostramos el alumno insertado
print("\nDatos del último alumno:")
print(collection.find_one({"_id": resultado.inserted_id}))

Actividad finalizada. Último alumno insertado con ID: 691cc039a4d0accb3775578d

Datos del último alumno:
{'_id': ObjectId('691cc039a4d0accb3775578d'), 'nombre': 'Oc', 'edad': 33, 'curso': 'Big Data & Python', 'nota': 1, 'comentario': 'Actividad completada con éxito'}